$high: yellow;
$medium: orange;
$low: #eee;
$veryLow: #999;

.component_updateWithFetchBox {
    margin: 0 0 20px 0;
    p {
        padding: 0;
        margin: 0 0 0 0;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    li.high {
        color: $high;
        a {
            color: $high;
        }
    }
    li.medium {
        color: $medium;
        a {
            color: $medium;
        }
    }
    li.low {
        color: $low;
        a {
            color: $low;
        }
    }
    li.veryLow {
        color: $veryLow;
        a {
            color: $veryLow;
        }
    }
    .spinner {
        animation: spin infinite 2s linear;
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }	
	.spinnerArea {
		margin: 20px 0 0 30px;
		font-size: 1.8em;
	}
}
